<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">

                        <span>

                            
                            <input #seachInput type="text"  [(ngModel)]="searchText"   placeholder="keyword...">
                            <button mat-raised-button (click)="applyFilter(seachInput.value)" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                            </button>
                            



                            <button class="btn btn-primary" data-toggle="modal" data-target="#addResourceModal">
                                Add Resource
                            </button>   
                            
                            <div class="modal fade" id="addResourceModal" tabindex="-1" role="">
                                <div class="modal-dialog modal-login" role="document">
                                    <div class="modal-content">
                                        <div class="card card-signup card-plain">
                                            <div class="modal-header">
                                                <div class="card-header card-header-primary text-center">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <i class="material-icons">clear</i>
                                                  </button>
                              
                                                  <h4 class="card-title">Add New Resource</h4>

                                                </div>
                                              </div>
                                            <div class="modal-body">
                                                <form class="form" #newResourceForm="ngForm" (ngSubmit)="submitForm(newResource)" novalidate>
                           
                                                    <div class="card-body">
                            
                                                        <div class="form-group bmd-form-group">
                                                            <div class="input-group">
                                                              <div class="input-group-prepend">
                                                                <div class="input-group-text"><i class="material-icons">list</i></div>
                                                              </div>
                                                              <input type="text" class="form-control" placeholder="Resource Name"  name="name" [(ngModel)]="newResource.name"  #name="ngModel" required>
                                                              <br>
                                                              <div *ngIf="name.invalid">Resource name is required</div>

                                                              
                                                            </div>
                                                        </div>
                            
                                                        <div class="form-group bmd-form-group">
                                                            <div class="input-group">
                                                              <div class="input-group-prepend">
                                                                <div class="input-group-text"><i class="material-icons">list</i></div>
                                                              </div>
                                                              <input type="number" class="form-control" placeholder="Resource Code...(0005)" name="code" [(ngModel)]="newResource.code"  #code="ngModel" required>
                                                              <br>
                                                              <div *ngIf="code.invalid">Resource code is required</div>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" [disabled]="!newResourceForm.valid">Save</button>
                                                    </div>

                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>                            



                            <span class="dropdown" id="addDropDown">
                                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">add_box</i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="addDropDown">
                                    <a class="dropdown-item" href="javascript:void(0)">Add Column</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Import csv</a>
                                </div>
                            </span>

                        </span>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Resource Catalog</h4>
                        <p class="card-category"> Available Resources</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table"   >
                                <thead class=" text-primary">

                                    <th>
                                        Resource Name
                                    </th>
                                    <th>
                                        Resource Code
                                    </th>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let res of resources | searchFilter: searchText | paginate: { itemsPerPage: 5, currentPage: p }">

                                        <td>
                                            {{res.name}}
                                        </td>
                                        <td>
                                            {{res.code}}
                                        </td>
                                       
                                    </tr>

                                    
                                 
  
                                </tbody>
                            </table>

                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
