<div class="main-content">
        <div class="card text-center width-twenty">


            <div class="card-header">
            <span>
                <h4 class="card-title">Selected Project</h4> 
            </span>
            <p class="card-category">{{selectedProject}}</p>
        </div>

        <div class="card-body">
            <div class="tab-content"> 

            <mat-select placeholder="Selected Project" [(value)]="selectedProject">
                <mat-option *ngFor="let p of projects" [value]="p.name" >
                {{p.name}}
                </mat-option>
            </mat-select>   
            
            </div>
        </div>

    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card text-center">


                <div class="card-header">
                    <span><h4 class="card-title">Resources

                        <span class="dropdown warning" id="addDropDown">
                            <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">select_all</i>
                            </button>
                            <div class="dropdown-menu warning" aria-labelledby="addDropDown">
                                <a class="dropdown-item" (click)="selectAllResources()">Select All</a>
                                <a class="dropdown-item" (click)="clearselectedResources()">Clear Selection</a>
                            </div>
                        </span>


                        <button class="btn btn-warning btn-fab btn-fab-mini btn-round" (click)="addToProject()">
                            <i class="material-icons">forward</i>
                        </button>
                    </h4> 

                </span>
                    <p class="card-category">Select Resources For Project</p>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="resourceCatalog">
                            <table class="table">

                                <thead class="text-primary">
                                    <th>Select</th>
                                    <th>Resource Name</th>
                                    <th>Resource Code</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let res of resources | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    
                                                    <input class="form-check-input"  type="checkbox" [checked]="res.selected"
                                                    (change)="res.selected = !res.selected" >
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{res.resource.name}}</td>
                                        <td>{{res.resource.code}}</td>
                                        <!-- <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"  class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>

                            <pagination-controls (pageChange)="p1 = $event" id="first" ></pagination-controls>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-center">

                <div class="card-header">
                    <h4 class="card-title">Project Resources</h4>
                    <p class="card-category">Resources Associated With Project</p>

                    <button (click)="deleteSelected()" mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div class="card-body table-responsive">

                            <table class="table table-hover">

                                <thead class="text-warning">
                                    <th>Select</th>
                                    <th>Resource Name</th>
                                    <th>Resource Code</th>
                                    <th>Actions</th>

                                </thead>
                                <tbody>

                                    <tr *ngFor="let projectResource of projectResources | paginate: { itemsPerPage: 5, currentPage: p2 , id: 'second'};">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input"  type="checkbox" [checked]="projectResource.selected"
                                                    (change)="projectResource.selected = !projectResource.selected" >
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{projectResource.resource.name}}</td>
                                        <td>{{projectResource.resource.code}}</td>
                                        <td class="td-actions text-right">
                                               <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                            <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>                  
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right" (click)="submitProjectResources()">Submit<div class="ripple-container"></div></button>
      </div>
    </div>
</div>
