
<div class="main-content">

    <div class="dropdown">
        <button href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
            
            <b class="caret">Select Project</b>
        </button>
        <ul class="dropdown-menu" *ngFor="let project of projects">
            <li><a href="#">{{project.name}}</a></li>
        </ul>
    </div>   

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">


                <div class="card-header card-header-primary">
                    <span><h4 class="card-title">Resources

                        <button class="btn btn-warning btn-round" (click)="addSelectedResourcesToProject()">
                            Add to Project<i class="material-icons">forward</i> 
                        </button>
                    </h4> 

                </span>
                    <p class="card-category">Select Resources For Project</p>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="resourceCatalog">
                            <table class="table">

                                <thead class="text-primary">
                                    <th>Select</th>
                                    <th>Resource Name</th>
                                    <th>Resource Code</th>
                                    <!-- <th>Actions</th> -->

                                </thead>
                                <tbody>

                                    <tr *ngFor="let res of resources | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" (change)="onNativeChange($event, res.id)" type="checkbox" value="{{res.id}}" >
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{res.name}}</td>
                                        <td>{{res.code}}</td>
                                        <!-- <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"  class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>

                            <pagination-controls (pageChange)="p1 = $event" id="first" ></pagination-controls>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"  class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"  class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Project Resources</h4>
                    <p class="card-category">Resources Associated With Project</p>
                </div>
                <div class="card-body table-responsive">
                    <!-- <table class="table table-hover">
                        <thead class="text-warning"> -->
                            <table class="table table-hover">

                                <thead class="text-warning">
                                    <th>Select</th>
                                    <th>Resource Name</th>
                                    <th>Resource Code</th>
                                    <th>Actions</th>

                                </thead>
                                <tbody>

                                    <tr *ngFor="let projectResource of prValues() | paginate: { itemsPerPage: 5, currentPage: p2 , id: 'second'};">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" (change)="onPRItemChange($event, projectResource.id)"  type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{projectResource.name}}</td>
                                        <td>{{projectResource.code}}</td>
                                        <td class="td-actions text-right">
                                               <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                            <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls>                  
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Submit<div class="ripple-container"></div></button>
      </div>
    </div>
</div>