<div class = main-containt>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
  <br>  
  <br>
  <br>
  <br>

 <div class="card">
  <div class="card-header card-header-danger">
      <h4 class="card-title ">Template</h4>
      <p class="card-category"> template page</p>
 </div>


  <div class="card-body">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">customized field</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

  </div>

  

  </div>
</div>
</div>
</div>
</div>
