<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>template page</title>
</head>

<div class="togglebutton">
    <label>
      <input type="checkbox" checked="">
        <span class="toggle"></span>
        name
    </label>
  </div>
  
<div class="togglebutton">
    <label>
      <input type="checkbox">
        <span class="toggle"></span>
        cost_code
    </label>
</div>

<div class="togglebutton">
    <label>
      <input type="checkbox">
        <span class="toggle"></span>
        editable
    </label>
</div>

<div class="togglebutton">
    <label>
      <input type="checkbox">
        <span class="toggle"></span>
        item_id
    </label>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">filed</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    type
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">number</a>
    <a class="dropdown-item" href="#">formula</a>
  </div>
</div>
