<div class = main-container>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
  <br>  
  <br>
  <br>
  <br>

 <div class="card">
  <div class="card-header card-header-danger">
      <h4 class="card-title ">Template</h4>
      <p class="card-category"> template page</p>
 </div>

<div class="container-fluid">
<div class = "row">

<div class="col-lg-6 col-md-12">

  <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title">project scope fields</h4>
          <p class="category">exsiting features</p>
      </div>
      <div class="card-body">
            name
            <br>
            cost_code
            <br>
            editable
            <br>
            item_id
      </div>
  </div>
</div>
</div>

<div class="col-lg-6 col-md-12">

  <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title">quantity survey fields</h4>
          <p class="category">custimized fileds</p>
      </div>
      <div class="card-body">
        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">field name</span>
          </div>
          
          
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div> -->

        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            field type
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">type 1</a>
            <a class="dropdown-item" href="#">type 2</a>
            <a class="dropdown-item" href="#">type 3</a>
          </div>
        </div> -->
      <div>
        <button (click)="addField()" class="btn btn-primary btn-round">add field</button>
        <section class="container border mb-4 p-3" *ngFor="let fieldname of fields; let i = index;">
         <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="fieldname.fieldname"
           name="fieldname_{{i}}"/>
           <span class="input-group-text" id="inputGroup-sizing-default">new field</span>
        </section>
      </div>
      </div>
  </div>
</div>
</div>

</div>
</div>


</div>
</div>
</div>


